ALtheTrader.bat
.vscode/settings.json
objects/__pycache__/algofuncs.cpython-38.pyc
objects/__pycache__/algofuncs.cpython-37.pyc
objects/__pycache__/assetfuncs.cpython-38.pyc
objects/__pycache__/updatefuncs.cpython-37.pyc
fitbit_key.json
